html, body {
    height: 100%;
}
body {
    background-color: #ddd;
    margin: 0;
}
p {
    margin: 0;
}

/* Основной контейнер */

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    background-color: #EDEFF5;
 }

 /* Основной контейнер КОНЕЦ */

 /**** Попап стили общие ****/

 .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(42, 49, 55, 0.75);
}
.cabinet__popup {
    display: none;
    position: fixed;
    max-width: 451px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    overflow: auto;
    max-height: 90%;
}
.cabinet__popup .cabinet__popup__title {
    color: #2F353D;
}
.cabinet__popup .cabinet__popup__title {
    color: #2F353D;
}
.cabinet__popup::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
}
.cabinet__popup::-webkit-scrollbar-track {
    background: #ffffff;        /* цвет дорожки */
}
.cabinet__popup::-webkit-scrollbar-thumb {
    background-color: #9098B4;    /* цвет плашки */
    border-radius: 0px;       /* закругления плашки */
    border: none;  /* padding вокруг плашки */
}
.text {
    font-size: 15px;
    line-height: 18.15px;
    color: #2F353D;
}
.text__bold {
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    color: #2F353D;
}
.text__sm {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    color: #2F353D;
}
.list {
    font-size: 15px;
    line-height: 18.15px;
    color: #2F353D;
}
.close__popup {
    width: 50px;
    height: 50px;
    display: none;
    background-color: #333;
    background: url('../img/close-popup.svg') center center no-repeat;
    position: fixed;
    top: 60px;
    right: 60px;
    cursor: pointer;
    z-index: 101;
}
.cabinet__popup_fields {
    margin-bottom: 40px;
    margin-top: 40px;
}
.cabinet__popup_checks {
    margin-bottom: 40px;
}
.cabinet__popup__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    margin-bottom: 10px;
}
.cabinet__popup__subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    color: #2F353D;
}
.cabinet__style .field {
    display: block;
    padding: 11.5px 15px 11.5px 15px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    background-color: #F4F6F8;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
}
.field__textarea {
    resize: none;
    background-color: #F4F6F8;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    min-height: 300px;
    width: 100%;
    border: 1px solid transparent;
    color: #2F353D;
}
.field__textarea:focus {
    border: 1px solid #5898FF;
    outline: none;
    background-color: #EFF5FF;
}
.field__textarea::placeholder {
    color: #9098B4;
}
.field__textarea:focus::placeholder {
    color: transparent;
}
.cabinet__style .field::placeholder {
    color: #9098B4;
}
.cabinet__popup_textarea::placeholder {
    color: #9098B4;
}
.cabinet__popup .field {
    width: 401px;
    max-width: 100%;
}
.field__name_popup {
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 10px;
    color: #2F353D;
}
.popup__image {
    padding: 0 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    min-width: 250px;
    min-height: 250px;
}
.popup__image img {
    max-width: 100%;
}
.popup__image_panel {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
}
.popup__image:hover .popup__image_panel {
    opacity: 1;
    visibility: visible;
}
.popup__image_panel .popup__image_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    cursor: pointer;
}

 /**** Попап стили общие КОНЕЦ ****/


/******* Общие стили блоков страниц кабинета *******/

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

 .cabinet__style * {
    font-family: 'Inter';
}
.cabinet__style .container {
    overflow: hidden;
}
.cabinet__style {
    position: relative;
}
.cabinet__style .droplist {
    width: 401px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
.cabinet__style .droplist__items {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 0;
    z-index: 10;
}
.cabinet__style .field:last-child {
    margin-bottom: 0;
}
.cabinet__style .field:focus {
    background-color: #EFF5FF !important;
    outline: 1px solid #5898FF;
}
.cabinet__style .field:focus::placeholder {
    color: transparent;
}
.cabinet__style .check_main {
    display: none;
}
.cabinet__style .check + label {
    font-size: 14px;
    line-height: 16.94px;
    align-items: flex-start;
    color: #2F353D;
}
.cabinet__style .check + label::before {
    background-color: #EDEFF5;
    border: none;
}
.cabinet__style .check:checked+label {
    color: #2F353D;
    background-color: #ffffff;
}
.cabinet__style .check:hover+label::before {
    border-color: #adb5bd;
    background: none;
    background-color: #EDEFF5;
}
.cabinet__style .check:checked+label::before {
    border-color: #5898FF;
    background: url('../img/check.svg') center center no-repeat;
    background-color: #5898FF;
}
.cabinet__style .check_main + label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 100%;
}
.cabinet__style .check_main:checked+label::before {
    border-color: #5898FF;
    background: url("../img/check.svg") center center no-repeat;
    background-color: #5898FF;
}
.cabinet__style .check_main + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #EDEFF5;
    border: none; 
}
.cabinet__style .radio_main {
    display: none;
}
.cabinet__style .radio_main + label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 100%;
}
.cabinet__style .radio_main:checked+label::before {
    border-color: #5898FF;
    background-color: #5898FF;
}
.cabinet__style .radio_main + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #2F353D;
    outline:2px solid #fff;
    outline-offset:-3px;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.cabinet__tabs_panel {
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 50px;
}
.cabinet__tab_button {
    background-color: #fff;
    color: #2F353D;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 20px;
    padding-right: 20px;
    padding-left: 19px;
    cursor: pointer;
    margin-right: 1px;
    height: 40px;
}
.cabinet__tab_button:first-child {
    padding-left: 20px;
}
.cabinet__tab_button:last-child {
    margin-right: 0;
    border-right: none;
    padding-left: 17px;
}
.cabinet__tab_button.active {
    background-color: #2F353D;
    color: #fff;
    font-weight: 600;
}
.cabinet {
    font-family: 'Inter';
    color: #2F353D;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 25px;
    box-sizing: border-box;
}
.cabinet__inner_tab_button {
    font-family: 'Inter';
    background-color: #5898FF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -90px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabinet__inner_tab_button .plus {
    font-size: 24px;
    margin-right: 15px;
    position: relative;
    top: -1.5px;
}
.cabinet__tab {
    display: none;
    position: relative;
}
.cabinet__tab.active {
    display: block;
}
.title__h2 {
    font-size: 35px;
    line-height: 42.36px;
    margin-bottom: 50px;
    font-weight: 600;
}
.button__c {
    padding: 11px 20px;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.button__circle {
    width: 40px;
    height: 40px;
    background-color: #EFF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: auto;
    cursor: pointer;
    position: relative;
}
.cabinet__new_requests .container {
    overflow: visible;
}
.mini__nav {
    min-width: 195px;
}
.mini__nav.droplist__items {
    top: -100px;
}
.mini__nav .droplist__item {
    font-size: 15px;
    line-height: 18.15px;
    color: #9098B4;
}
.mini__nav .item__file {
    position: relative;
}
.mini__nav .item__file input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.mini__nav .droplist__item:last-child {
    border: none;
}
.mini__nav .droplist__item:hover {
    background-color: #EFF5FF !important;
    color: #5898FF !important;
}
.file__accept_name {
    margin-left: 10px;
}
.chat__user_name_text .file__accept_name {
    margin-left: 0;
    margin-top: 10px;
    display: block;
}
.cabinet__button {
    width: 86px;
    height: 40px;
    background-color: #2F353D;
    color: #fff;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 50px;
}
.button__back {
    width: 86px;
    height: 40px;
    background-color: #2F353D;
    color: #fff;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 0px;
}
.default__button {
    background-color: #F4F6F8;
    color: #9098B4;
    margin-top: 37px;
}
.default__button:hover {
    background-color: #EFF5FF;
    color: #5898FF;
}
.default__button_active {
    background-color: #EFF5FF;
    color: #5898FF;
}
.default__button_enabled {
    background-color: #E4FDE4;
    color: #04B600;
}
.default__button_error {
    background-color: #FFEAEA;
    color: #F50A0A;
}
.default__button_enabled:hover {
    background-color: #E4FDE4;
    color: #04B600;
}
.default__button_error:hover {
    background-color: #FFEAEA;
    color: #F50A0A;
}
.fill__button {
    background-color: #5898FF;
    color: #fff;
}
.border__button {
    background-color: transparent;
    border: 1px solid #5898FF;
    color: #5898FF;
}
.settings__button {
    background-color: #F4F6F8;
    border-radius: 5px;
    padding: 10px;
}
.cabinet__title {
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 600;
    margin-bottom: 5px;
}
.cabinet__text {
    font-family: 'Inter';
    color: #2F353D;
    font-size: 15px;
    line-height: 18.15px;
}
.cabinet__link {
    font-size: 15px;
    line-height: 18.15px;
    color: #5898FF;
}
.cabinet__text_bold {
    font-family: 'Inter';
    color: #2F353D;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
}
.cabinet__text_disabled {
    color: #9098B4;
}
.field__name {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 18.15px;
}
.field__box_check {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16.94px;
}
.field__box_check:last-child {
    margin-bottom: 0;
}
.cabinet__name_top {
    margin-bottom: 1px;
    border-radius: 10px 10px 0 0;
    color: #9098B4;
    font-size: 15px;
    line-height: 18.15px;
    padding: 21px 25px;
}
.cabinet__title_small {
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    margin-bottom: 7px;
}
.cabinet__subtitle {
    font-size: 15px;
    line-height: 18.15px;
    color: #9098B4;
    white-space: nowrap;
    margin-bottom: 15px;
}
.star {
    color: #5898FF;
}
.cabinet__table_container {
    padding: 0;
    border-radius: 10px;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table tr:first-child td {
    color: #9098B4;
}
.table td {
    border: 1px solid #EFF5FF;
    padding: 14.8px 0px 14.8px 13px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16.94px;
    color: #2F353D;
}
.table td a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
}
.table td:first-child {
    border-left: none;
    align-items: center;
    max-width: 360px;
    width: 360px;
}
.table td:last-child {
    border-right: none;
    width: 90px;
}
.table td:nth-child(2) {width: 109px;}
.table td:nth-child(3) {width: 104px;}
.table td:nth-child(4) {width: 104px;}
.table td:nth-child(5) {width: 348px;}
.table__circle {
    background-color: #EFF5FF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.table__circle.active {
    background-color: #5898FF;
}
.open_td {
    color: #04B600 !important;
}
.manager__nav {
    position: absolute;
    right: -400%;
    opacity: 0;
    top: 10px;
    padding-top: 0;
    padding-left: 0;
    border-radius: 5px;
    margin: 0;
    transition: all .2s linear;
    box-shadow: 0px 0 7px rgba(42, 49, 55, 0.1);
}
.manager__nav_button:hover {
    background-color: #EFF5FF;
}
.manager__nav_button:hover svg rect {
    fill: #5898FF;
}
.manager__nav_button:hover .manager__nav {
    right: 0;
    opacity: 1;
}
.manager__nav li {
    padding: 11px 15px;
    box-sizing: border-box;
    color: #9098B4;
    list-style: none;
    border-bottom: 1px solid #EDEFF5;
    cursor: pointer;
    background-color: #fff;
    font-size: 15px;
    line-height: 18.15px;
}
.manager__nav li:nth-child(2) {
    border-radius: 5px 5px 0px 0px;
}
.manager__nav li:last-child {
    border-radius: 0px 0px 5px 5px;
}
.manager__nav li:hover {
    color: #5898FF;
    background-color: #EFF5FF;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: 100%;
}
.mob__only {
    display: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 24.2px;
}
.mob__close_nav {
    width: 25px;
    height: 25px;
    display: block;
    background: url("../img/mob-close-nav.svg") center center no-repeat;
    cursor: pointer;
    background-color: transparent !important;
}
.sort__block {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
}
.sort__block_questions {
    padding: 15px 25px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}
.sort__block .droplist {
    max-width: max-content;
    width: 25%;
    min-width: 170px;
}
.sort__block .droplist__selected {
    background-color: #fff;
}
.droplist_active .droplist__result {
    display: flex;
}
.droplist__icon {
    position: static;
    margin-left: 18px;
}
.sort__block .droplist .droplist__result_text {
    max-width: 100%;
    width: 87%;
    font-size: 15px;
}
.sort__block .droplist .droplist__icon_cross {
    width: 16px;
    height: 16px;
    position: relative;
    right: 3px;
    top: 0;
}
.sort__block .droplist .droplist__icon.droplist__icon_arrow {
    width: 20px;
    right: 3px;
    top: 0;
    position: relative;
}
.sort__block .field__box {
    max-width: 935px;
    width: 96%;
    min-width: 70%;
    margin-left: 15px;
    position: relative;
    box-sizing: border-box;
}
.sort__block_questions .field__box {
    max-width: 963px;
    margin-left: 0;
    margin-right: 15px;
}
.sort__block .field__box .field {
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #fff;
    margin-bottom: 0;
}
.cabinet__tab_questions .sort__block .field__box .field {
    background-color: #F4F6F8;
}
.droplist__selected {
    display: flex;
    align-items: center;
}
.sort__block .droplist .droplist__items {
    width: max-content;
}
.sort__block .droplist .droplist__item {
    padding: 15px;
    height: 47px;
}
.loop__search_submit {
    width: 15px;
    height: 16px;
    border: none;
    padding: 0;
    position: absolute;
    top: 12px;
    left: 14px;
    background-color: transparent;
}
.sort__block .field__search:focus ~ .loop__search_submit svg path {
    fill: #5898FF;
}
.sort__table__flex_mob {
    display: none;
}
.sort__block .button__c {
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    top: -90px;
    right: 0;
}
.sort__block_questions .button__c {
    position: static;
    margin-right: 0;
}
.cabinet__block_your_requests .cabinet__name_top {
    display: none;
}
.cabinet__new_requests {
    display: none;
}
.new__requests {
    display: flex;
    justify-content: space-between;
    width: 98%;
}
.new__requests .droplist {
    width: 100%;
    margin-bottom: 25px;
    min-width: 0;
}
.new__requests .text {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18.15px;
    color: #2F353D;
}
.new__requests .droplist .droplist__result_text {
    max-width: 100%;
    width: 100%;
}
.new__requests .cabinet__block {
    background-color: #fff;
    border-radius: 10px;
    width: calc(50% - 7.5px);
    padding: 25px;
    box-sizing: border-box;
}
.new__requests .cabinet__block__r p {
    margin-bottom: 25px;
}
.new__requests .cabinet__block__r .text__for_list {
    margin-bottom: 0;
}
.new__requests .list {
    margin: 0;
    padding-left: 20px;
}
.new__requests .field {
    margin-bottom: 15px;
}
.new__requests .cabinet__block__r .text__bold {
    margin-bottom: 5px;
    font-size: 16px;
}
.new__requests .buttons {
    margin-top: 25px;
}
.current__requests_head {
    background-color: #fff;
    margin-bottom: 1px;
    border-radius: 10px 10px 0 0;
    padding: 25px;
    box-sizing: border-box;
}
.current__requests_head .cabinet__text_bold {
    margin-top: 0;
    margin-bottom: 10px;
}
.chat__area {
    background-color: #fff;
    padding: 0 25px 26px 25px;
    box-sizing: border-box;
    margin-bottom: 1px;
    max-height: 512px;
    overflow: auto;
}
.chat__message {
    display: flex;
    align-items: flex-start;
    padding: 13.5px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}
.chat__message:first-child {
    margin-top: 10px;
}
.chat__message:last-child {
    margin-bottom: 0;
}
.chat__message_type01 {
    background-color: #F4F6F8;
}
.chat__message_type02 {
    background-color: #EFF5FF;
}
.chat__user_image {
    margin-right: 15px;
}
.chat__message_time {
    margin-right: 0;
    margin-left: auto;
}
.chat__user_name {
    font-weight: 600;
    margin-bottom: 10px;
    color: #2F353D;
}
.chat__area_message_enter {
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
}
.enter__message {
    border: none;
    resize: none;
    width: 100%;
    height: auto;
    min-height: 100px;
    border: none;
    font-size: 15px;
    line-height: 18.15px;
    color: #2F353D;
    padding: 0;
}
.enter__message:focus {
    background-color: #fff;
    outline: 1px solid #5898FF;
}
.enter__message::placeholder {
    color: #9098B4;
    font-size: 15px;
    line-height: 18.15px;
}
.enter__message:focus::placeholder {
    color: transparent;
}
.chat__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__panel .button__c {
    margin: 0;
}
.chat__panel .default__button_error {
    margin-left: auto;
    margin-right: 19px;
}
.chat__panel .button__circle {
    margin-left: 0;
    margin-right: 0;
}
.cabinet__current_requests {
    display: none;
}
.cabinet__block_questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -15px;
}
.block_question {
    width: 363px;
    height: 205px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.question__image_bg {
    background: url(../img/question-bg.png) center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.title__question {
    color: #fff;
    font-size: 15px;
    line-height: 18.15px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    max-width: 80%;
}
.cabinet__block_empty_support .fill__button {
    padding: 11px 25px;
    width: 199px;
}

/******* Общие стили блоков страниц кабинета КОНЕЦ *******/

/* Пустая страница кабенета */
.cabinet__empty {
    position: relative;
    height: 100%;
}
.cabinet__empty .container {
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}
.cabinet__empty .cabinet__tab {
    display: block;
}
.cabinet__empty .cabinet__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabinet__empty .cabinet {
    border-radius: 10px;
    padding-bottom: 50px;
}
.cabinet__empty .cabinet__image {
    width: 80px;
    height: 80px;
    background: url(../img/empty-support.png) 0 0 no-repeat;
    margin: 25px 0;
}
.cabinet__empty .title__big_center {
    font-size: 25px;
    font-weight: 600;
    color: #2F353D;
    line-height: 30.26px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}
.cabinet__empty .cabinet__subtitle {
    max-width: 100%;
    width: 363px;
    white-space: normal;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}
.chat__user_name_text {
    width: calc(100% - 120px);
}
.show__more_question {
    display: none;
}
.droplist__select_status_mob {
    display: none;
}
/* Пустая страница кабенета Конец */

@media screen and (max-width: 1170px) {
    .container {
        max-width: 100%;
    }
    .cabinet__container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cabinet__inner_tab_button {
        position: static;
        display: inline-flex;
        margin-bottom: 20px;
    }
    .cabinet__tabs_panel {
        margin-bottom: 30px;
    }
    .sort__block .button__c {
        top: -70px;
    }
    .block_question {
        width: calc(100% / 3 - 15px);
    }
    .new__requests {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .cabinet__table_container {
        overflow-x: scroll;
    }
    .table__support_desktop {
        width: 1124px;
    }
    .title__question {
        max-width: 100%;
    }
}

@media screen and (max-width: 880px) {
    .cabinet__tabs_panel_container {
        overflow: auto;
    }
    .cabinet__tabs_panel_container::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .cabinet__tab_button {
        white-space: nowrap;
    }
    .block_question {
        width: calc(100% / 2 - 7.5px);
    }
    .question__image_bg {
        background-size: cover;
    }
}

@media screen and (max-width: 768px) {
   
    .cabinet__link {
        font-size: 15px;
        line-height: 18.15px;
        color: #5898FF;
    }
    .cabinet__popup {
        max-width: 349px;
        max-height: calc(100% - 80px);
        padding: 13px;
        border-radius: 5px;
    }
    .cabinet__popup.cabinet__popup_fullsize {
        max-width: 349px;
    }
    .close__popup {
        top: 30px;
        right: 30px;
    }
    .cabinet__link.variable {
        margin-bottom: 0;
        margin-right: 7px;
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        background-color: #EFF5FF;
        color: #5898FF;
        white-space: nowrap;
    }
    .cabinet__popup .droplist {
        min-width: 0;
    }
    .table__support_desktop {
        display: none;
    }
    .cabinet__table_container {
        border-radius: 0 0 5px 5px;
    }
    .sort__table__flex_mob {
        display: block;
        background-color: #fff;
        padding: 13px;
        box-sizing: border-box;
        border-radius: 0 0 5px 5px;
    }
    .sort__table_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #F4F6F8;
        padding: 0 13px;
        box-sizing: border-box;
        margin-bottom: 7px;
        border-radius: 5px;
    }
    .sort__table_box .sort__text {
        display: flex;
        align-items: center;
        color: #2F353D;
    }
    .sort__table_box .open_td {
        color: #04B600;
    }
    .table__circle {
        border: 1px solid #5898FF;
        background-color: #EFF5FF;
    }
    .table__circle.active {
        background-color: #5898FF;
    }
    .sort__table_box .box {
        width: 100%;
        padding: 17px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #EDEFF5;
    }
    .sort__table_box p {
        font-size: 14px;
        line-height: 16.94px;
    }
    .sort__table_box .sort__name {
        color: #9098B4;
        margin-bottom: 10px;
    }
    .sort__table_box .box.stb-02 {
        width: 30%;
        position: relative;
    }
    .sort__table_box .box.stb-02::after {
        content: '';
        display: block;
        width: 1px;
        height: 44px;
        background-color: #EDEFF5;
        position: absolute;
        right: 17px;
        top: 17px;
    }
    .sort__table_box .box.stb-03 {
        width: 70%;
    }
    .cabinet__block_your_requests .cabinet__name_top {
        display: block;
        margin-bottom: 1px;
    }
    .new__requests {
        flex-wrap: wrap;
    }
    .new__requests .cabinet__block {
        width: 100%;
    }
    .new__requests .cabinet__block__l {
        margin-bottom: 17px;
    }
    .title__h2 {
        font-size: 25px;
        line-height: 30.26px;
    }
    .cabinet__new_requests .title__h2 {
        margin-bottom: 22px;
    }
    .request__button_back {
        margin-top: 0;
        margin-bottom: 17px;
    }
    .new__requests .cabinet__block__l .text {
        margin-bottom: 7px;
    }
    .new__requests .cabinet__block__r .text {
        margin-bottom: 17px;
    }
    .new__requests .field {
        margin-bottom: 13px;
    }
    .new__requests .field__textarea {
        height: 300px;
    }
    .new__requests .fill__button {
        order: 2;
        margin-left: auto;
        margin-right: 0;
        width: auto;
    }
    .new__requests .button__circle {
        margin-left: 0;
    }
    .sort__block .field__box {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }
    .sort__block .field__box .field {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 630px) {
    .close__popup {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
    }
}
@media screen and (max-width: 540px) {
    .sort__block .button__c {
        position: static;
        width: 100%;
        text-align: center;
    }
    .sort__block {
        flex-direction: column;
        background-color: #fff;
        padding: 13px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .sort__table__flex_mob {
        display: block;
        background-color: #fff;
        padding: 13px;
        box-sizing: border-box;
        border-radius: 0 0 5px 5px;
    }
    .cabinet__table_container {
        padding: 0;
    }
    .sort__table_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #F4F6F8;
        padding: 0 13px;
        box-sizing: border-box;
        margin-bottom: 7px;
        border-radius: 5px;
    }
    .sort__block .field__box {
        margin: 0;
        order: -1;
        margin-bottom: 13px;
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    .sort__block .field__box .field {
        background-color: #F4F6F8;
    }
    .sort__block .droplist {
        margin-bottom: 13px;
        width: 100%;
        max-width: 100%;
    }
    .sort__block .droplist__selected {
        background-color: #F4F6F8;
    }
    .sort__block .droplist .droplist__items {
        width: 100%;
    }
    .chat__panel .default__button_error {
        display: none;
    }
    .current__requests_head {
        background-color: #2F353D;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        border-radius: 0;
        position: relative;
        width: calc(100% + 50px);
        left: -25px;
        top: -25px;
    }
    .cabinet__current_requests .container {
        border-radius: 0;
    }
    .current__requests_head .cabinet__text_bold {
        color: #fff;
        font-size: 16px;
        line-height: 19.36px;
        font-weight: 700;
        display: inline-block;
        width: auto;
    }
    .cabinet__current_requests .request__button_back {
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 5;
        font-size: 14px;
        line-height: 16.94px;
    }
    .cabinet__current_requests .request__button_back::before {
        content: '';
        width: 6px;
        height: 12px;
        background: url(../img/arrow-back-blue.svg) 0 0 no-repeat;
        display: block;
        position: absolute;
        left: 6px;
        top: 13px;
    }
    .block_question {
        width: 100%;
    }
    .cabinet__block_questions {
        height: 650px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .cabinet__block_questions.show {
        height: auto;
    }
    .show__more_question {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .current__requests_head .text__sm {
        display: none;
    }
    .current__requests_head .droplist__select_status_mob {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        width: auto;
        max-width: 98px;
        min-width: 98px;
        height: 32px;
    }
    .current__requests_head .droplist__select_status_mob .droplist__items {
        width: max-content;
        top: 30px;
        left: auto;
        right: 0;
    }
    .droplist__select_status_mob .droplist__icon_cross {
        display: none !important;
    }
    .droplist__select_status_mob .droplist__selected {
        background-color: #E4FDE4;
        color: #04B600;
        font-size: 14px;
        line-height: 16.94px;
        padding: 7px 7px 8px 7px;
        height: 30px;
        width: 98px;
    }
    .current__requests_head .droplist__select_status_mob svg path {
        fill: #04B600;
    }
    .current__requests_head .droplist__select_status_mob .droplist__items .droplist__item {
        background-color: #FFEAEA;
        color: #F50A0A;
        font-size: 14px;
        line-height: 16.94px;
        padding: 7px 7px 8px 7px;
        height: 30px;
    }
    .droplist__select_status_mob.droplist_active .droplist__result {
        filter: brightness(.5);
    }
    .droplist__select_status_mob .droplist__result_active {
        background-color: #FFEAEA;
        color: #F50A0A;
        justify-content: center;
        pointer-events: none;
        filter: brightness(1);
    }
    .droplist__select_status_mob .droplist__icon {
        margin-left: 5px;
    }
    .new__requests .droplist .droplist__item span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sort__block .droplist .droplist__result_text {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 480px) {
    .manager__nav {
        right: 0;
        bottom: -1000px;
        top: auto;
        background-color: #2F353D;
        color: #fff;
        max-width: 100%;
        width: 100%;
        padding: 25px 13px 13px 13px;
        box-sizing: border-box;
        border-radius: 25px 25px 0px 0px;
        opacity: 1;
        z-index: 50;
        position: fixed;
    }
    .manager__nav li {
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;
        border: none;
        margin-bottom: 1px;
        text-align: left;
    }
    .manager__nav li.mob__only {
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;
        margin-bottom: 26px;
        padding: 0px 15px 0px 0px;
    }
    .manager__nav li:nth-child(2) {
        border-radius: 5px 5px 0px 0px;
    }
    .manager__nav li.mob__only .mob__close_nav {
        position: relative;
        z-index: 99;
    }
    .manager__nav_button:hover .manager__nav {
        right: 0;
        bottom: -1000px;
    }
    .manager__nav_button.active .manager__nav {
        bottom: 0px;
    }
    .mob__only {
        display: flex;
        justify-content: space-between;
    }
    .container {
        max-width: 100%;
        padding: 13px;
        border-radius: 10px;
    }
    .cabinet {
        padding: 17px;
        border-radius: 0 0 5px 5px;
    }
    .cabinet__name_top {
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }
    .cabinet__popup {
        padding: 13px;
        max-width: 100%;
        width: 349px;
        max-height: calc(100% - 80px);
        border-radius: 5px;
    }
    .cabinet__popup_buttons .fill__button {
        width: auto;
    }
    .cabinet__popup_buttons .button__c {
        width: auto;
    }
    .cabinet__popup_fields {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .cabinet__popup .cabinet__popup_checks {
        margin-bottom: 20px;
    }
    .cabinet__popup .field__box {
        margin-bottom: 10px;
    }
    .cabinet__popup_buttons.buttons__fullspace {
        margin-top: 25px;
    }
    .cabinet__popup.cabinet__popup_fullsize {
        max-width: 100%;
        width: 349px;
    }
    .close__popup {
        width: 15px;
        height: 15px;
        top: 10px;
        right: 10px;
    }
    .cabinet__support .cabinet__tabs_panel {
        margin-bottom: 32px;
    }
    .cabinet__block_your_requests .cabinet__name_top {
        padding: 14px;
    }
    .sort__table_box .box {
        padding: 16px 0;
    }
    .sort__table_box .box.stb-02 {
        width: 40%;
    }
    .sort__table_box .box.stb-03 {
        width: 60%;
    }
    .cabinet__tab_button {
        padding: 11px 12px;
    }
    .cabinet__support .cabinet__tab_button:first-child {
        padding-left: 20px;
        padding-right: 22px;
    }
    .cabinet__support .cabinet__tab_button:last-child {
        padding-right: 22px;
    }
    .field__box {
        margin-bottom: 7px;
    }
    .cabinet__title {
        font-size: 20px;
        line-height: 24.2px;
    }
    .cabinet__name_top {
        padding: 17px;
    }
    .cabinet__container {
        padding: 8px 17px 17px 17px;
    }
    .default__button {
        margin-top: 25px;
    }
    .cabinet__link {
        font-size: 15px;
        line-height: 18.15px;
        color: #5898FF;
    }
    .cabinet__block:last-child {
        margin-bottom: 18px;
    }
    .cabinet__subtitle {
        margin-bottom: 22px;
    }
    .default__button {
        width: auto;
        text-align: center;
    }
    .switch__box {
        margin-bottom: 13px;
    }
    .switch__button {
        margin-right: 13px;
    }
    .check + label::before {
        background-color: #EDEFF5;
        border: none;
    }
    .check_main + label::before {
        background-color: #EDEFF5;
        border: none;
    }
    .field__box {
        margin-bottom: 13px;
    }
    .cabinet__inner_tab_button {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    .fill__button {
        width: 100%;
        text-align: center;
    }
    .manager__nav_button {
        position: absolute;
        right: 17px;
        top: 17px;
        background-color: transparent;
        display: block;
        text-align: center;
        vertical-align: middle;
    }
    .manager__nav_button svg {
        height: 8px;
        width: 27px;
        display: block;
        margin: auto auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .manager__nav_button svg rect {
        height: 7px;
        width: 7px;
    }
    .manager__nav_button:hover {
        background-color: transparent;
    }
    .manager__nav_button:hover svg rect {
        fill: #9098B4;
    }
    .manager__nav_button.active svg rect {
        fill: #5898FF;
    }
    .cabinet__text_bold {
        width: 100%;
        margin-bottom: 13px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
    }
    .cabinet__container {
        padding: 13px 13px 17px 13px;
        border-radius: 0;
    }
    .cabinet__block_email_templates {
        padding-bottom: 13px;
        margin-bottom: 0;
    }
    .manager__nav_container {
        position: static;
        height: 0;
        width: 0;
    }
    .cabinet__block:last-child {
        margin-bottom: 0;
    }
    .sort__table_box {
        padding: 0 13px;
    }
    .cabinet__table_container {
        padding: 0;
    }
    .new__requests .cabinet__block {
        padding: 13px;
    }
    .new__requests .fill__button {
        width: auto;
    }
    .current__requests_head {
        background-color: #2F353D;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        border-radius: 0;
        position: relative;
        width: calc(100% + 26px);
        left: -13px;
        top: -13px;
        padding: 13px;
    }
    .cabinet__current_requests .container {
        border-radius: 0;
        background-color: #fff;
    }
    .current__requests_head .cabinet__text_bold {
        color: #fff;
        font-size: 16px;
        line-height: 19.36px;
        font-weight: 700;
        display: inline-block;
        width: auto;
    }
    .cabinet__current_requests .request__button_back {
        position: absolute;
        top: 24px;
        left: 13px;
        z-index: 5;
    }
    .cabinet__new_requests .title__h2 {
        max-width: 80%;
    }
    .new__requests .buttons {
        margin-top: 21px;
    }
    .new__requests .cabinet__block__r .text {
        margin-bottom: 19px;
    }
    .new__requests .cabinet__block__r .text__for_list {
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .new__requests .cabinet__block__r .text__bold {
        margin-bottom: 7px;
    }
    .chat__area {
        padding: 0;
        position: relative;
        max-height: 396px;
    }
    .enter__message {
        min-height: 87px;
    }
    .chat__panel .button__c {
        max-width: 119px;
    }
    .chat__area_message_enter {
        padding: 0;
        padding-top: 28px;
    }
    .chat__area_message_enter:before {
        content: '';
        display: block;
        width: calc(100% + 26px);
        height: 1px;
        position: relative;
        left: -13px;
        top: -10px;
        background-color: #E2E4E9;
        box-shadow: 0 -4px 15px rgba(32, 32, 32, .5);
        z-index: 5;
    }
    .chat__message {
        padding: 12px;
    }
    .chat__user_name {
        margin-bottom: 7px;
    }
    .chat__user_name_text .file__accept_name {
        margin-top: 7px;
    }
    .sort__block_questions {
        margin-top: -14px;
    }
    .title__question {
        max-width: 85%;
    }
    .cabinet__tab_questions .sort__block .field__box .field {
        font-size: 14px;
    }
    .cabinet__block_empty_support .cabinet__container {
        padding: 17px;
    }
    .cabinet__block_empty_support .fill__button {
        width: 100%;
    }
}